{% extends 'base.html' %}
{% block title %}
Register Form
{% endblock title %}
{% block body %}
<div class='w-full h-screen flex justify-center items-center '>
    
            <form action='{% url 'addUSer' %}' method='post' class='border-3 border-black rounded-lg p-10 w-1/3 bg-gradient-to-tr from-yellow-400 via-red-500 to-pink-500'>
                 {% csrf_token %}
                <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Student Name</label>
                <input type="text" name="name" class="form-control" id="formGroupExampleInput" placeholder="Enter Student Name">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Year</label>
                <input type="number" name="year" class="form-control" id="formGroupExampleInput2" placeholder="Enter Number ">
                <p>eg. 1,2,3,...</p>
                
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Major</label>
                <input type="text" name="major" class="form-control" id="formGroupExampleInput2" placeholder="Enter your Major">
                <p>eg. Civil,EC,EP,Mech,IT
                
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Roll Number</label>
                <input type="number" name="rollno" class="form-control" id="formGroupExampleInput2" placeholder="Enter your roll number">
                <p>eg. 1,2,3,...</p>

                
            </div>
            <div class="mb-3 flex justify-center">
                <button type="submit" class="btn btn-success">Register</button>
            </div>
            </form>
        
   
</div>
{% endblock %}